bin/
build/
out/
reports/
.classpath
.project
.settings
.gradle
.metadata
derbyDB
pyvenv.cfg
test_database*
*.log
.emacs.*
.lock
.cache-main

/functional_test/index/

.DS_Store
*.iws
*.ipr
*.iml
/.settings/
.idea
.shelf
*.nfs

/instrumentation_check/verification.tap
/instrumentation_check/verification.xml
/instrumentation_check/agent_under_test/

/agent-integration-tests

.recommenders

production/

instrumentation/play-2.6/src/test/scala/router/*.scala
instrumentation/play-2.6.13/src/test/scala/router/*.scala

