name: Scala Instrumentation Tests

on:
  workflow_dispatch:
    inputs:
      agent-ref:
        description: 'The ref (branch, SHA, tag?) to run the tests on'
        required: false
        default: 'main'
        type: string
  workflow_call:
    inputs:
      agent-ref:
        description: 'The ref (branch, SHA, tag?) to run the tests on'
        required: false
        default: 'main'
        type: string

jobs:
  scala-instrumentation-tests:
    name: Scala ${{ matrix.scala }} on Java ${{ matrix.java-version }}
    timeout-minutes: 120
    runs-on: ubuntu-20.04
    env:
      # we use this in env var for conditionals (secrets can't be used in conditionals)
      AWS_KEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
    strategy:
      ##max-parallel: 1 ## used to force sequential
      fail-fast: false
      matrix:
        java-version: [ 8, 11 ]
        scala: [ '2.11', '2.12', '2.13' ]
        exclude:
          - java-version: 11
            scala: 2.10
          - java-version: 11
            scala: 2.11
    steps:
      - name: Checkout Java agent
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4
        with:
          ref: ${{ inputs.agent-ref || github.ref || 'main' }}

      - name: Configure AWS Credentials
        if: ${{ env.AWS_KEY != '' }}
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # pin@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Build newrelicJar
        run: ./gradlew $GRADLE_OPTIONS clean jar --parallel

      - name: Run instrumentation tests for Java ${{ matrix.java-version }} and scala ${{ matrix.scala }} (attempt 1)
        id: run_tests_1
        continue-on-error: true
        timeout-minutes: 25
        run: ./gradlew $GRADLE_OPTIONS :instrumentation:test -Ptest${{ matrix.java-version }} -PnoInstrumentation -Pscala-${{ matrix.scala }} --continue

      - name: Run instrumentation tests for Java ${{ matrix.java-version }} and scala ${{ matrix.scala }} (attempt 2)
        id: run_tests_2
        if: steps.run_tests_1.outcome == 'failure'
        continue-on-error: true
        timeout-minutes: 25
        run: ./gradlew $GRADLE_OPTIONS :instrumentation:test -Ptest${{ matrix.java-version }} -PnoInstrumentation -Pscala-${{ matrix.scala }} --continue

      - name: Run instrumentation tests for Java ${{ matrix.java-version }} and scala ${{ matrix.scala }} (attempt 3)
        if: steps.run_tests_2.outcome == 'failure'
        timeout-minutes: 25
        run: ./gradlew $GRADLE_OPTIONS :instrumentation:test -Ptest${{ matrix.java-version }} -PnoInstrumentation -Pscala-${{ matrix.scala }} --continue

      - name: Capture build reports
        if: ${{ failure() }}
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # pin@v3
        with:
          name: instrumentation-results-java-${{ matrix.java-version }}-scala-${{ matrix.scala }}
          # The regex for the path below will capture instrumentation test HTML reports generated by gradle for all
          # instrumentation submodules: (httpclient-jdk11, jdbc-generic, spring-webflux-5.3.0, etc).
          path: |
            instrumentation/**/build/reports/tests/*
