name: Java Instrumentation Tests

on:
  workflow_dispatch:
    inputs:
      agent-ref:
        description: 'The ref (branch, SHA, tag?) to run the tests on'
        required: false
        default: 'main'
        type: string
  workflow_call:
    inputs:
      agent-ref:
        description: 'The ref (branch, SHA, tag?) to run the tests on'
        required: false
        default: 'main'
        type: string
jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        jre: [8, 11, 17, 20]
    name: Java ${{ matrix.jre }}
    timeout-minutes: 120
    # needs: install-all-java
    runs-on: ubuntu-20.04
    env:
      # we use these in env vars for conditionals (secrets can't be used in conditionals)
      AWS_KEY: ${{ secrets.aws-secret-access-key }}
    steps:
      - name: Checkout Java agent
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.agent-ref || github.ref || 'main' }}

      - name: Configure AWS Credentials
        if: ${{ env.AWS_KEY != '' }}
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      # Is newrelicJar present in newrelic-agent/build
      # TO DO: Below version number has to be dynamic
      - name: Build newrelicJar
        run: ./gradlew $GRADLE_OPTIONS clean jar

      # GHA run instrumentation tests

      - name: Run instrumentation tests for Java ${{ matrix.jre }} (attempt 1)
        id: run_tests_1
        continue-on-error: true
        timeout-minutes: 35
        run: ./gradlew $GRADLE_OPTIONS :instrumentation:test -Ptest${{ matrix.jre }} --continue

      - name: Run instrumentation tests for Java ${{ matrix.jre }} (attempt 2)
        id: run_tests_2
        continue-on-error: true
        timeout-minutes: 35
        if: steps.run_tests_1.outcome == 'failure'
        run: ./gradlew $GRADLE_OPTIONS :instrumentation:test -Ptest${{ matrix.jre }} --continue

      - name: Run instrumentation tests for Java ${{ matrix.jre }} (attempt 3)
        timeout-minutes: 35
        if: steps.run_tests_2.outcome == 'failure'
        run: ./gradlew $GRADLE_OPTIONS :instrumentation:test -Ptest${{ matrix.jre }} --continue

      - name: Capture Jacoco reports
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: jacoco-reports-java-${{ matrix.java-version }}
          path: |
            **/build/reports/jacoco/**

      - name: Upload coverage to Codecov
        if: success()
        uses: codecov/codecov-action@v3
        with:
          files: '**/build/reports/jacoco/test/jacocoTestReport.xml'
          fail_ci_if_error: false #default is false, but being explicit about what to expect.

      # Capture HTML build result in artifacts
      - name: Capture build reports
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: instrumentation-tests-results-java-${{ matrix.jre }}
          path: |
            instrumentation/**/build/reports/tests/*
