# This workflow automates the process of identifying potential security vulnerabilities
# in the agent's dependencies using Snyk. Vulnerability scans will be run on a 
# weekly schedule, but can also be triggered manually.
name: Snyk Vulnerability Scan

on:
  workflow_dispatch:
  schedule:
    - cron: '00 15 * * 1'

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Java Agent
        uses: actions/checkout@v3
        with:
          ref: 'main'

      - name: Set gradle.properties Workaround
        shell: bash
        run: |
          echo "jdk8=/tmp" >> gradle.properties
          echo "jdk11=/tmp" >> gradle.properties
          echo "jdk17=/tmp" >> gradle.properties
          
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/gradle@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
          args: --all-sub-projects --org=java-agent --debug --configuration-matching='(includeInJar)|(shadowIntoJar)'
