name: Test Suite - Release
on:
  workflow_dispatch:
    inputs:
      agent-ref:
        description: "Specify agent branch/tag/sha (main is default)"
        required: false
        default: 'main'
      ait-ref:
        description: "Specify AIT branch/tag/sha (main is default)"
        required: false
        default: 'main'
      cache-ref:
        description: "Specify cache branch/tag/sha (main is default)"
        required: false
        default: 'main'
      ingest-metrics-desc:
        description: "(Optional) For site wiki ingest metrics: Specify a description for this run. This will be used as the title for the new wiki page."
        required: false

jobs:

  aits:
    uses: ./.github/workflows/Test-AITs.yml
    with:
      agent-ref: ${{ inputs.agent-ref || github.sha || 'main' }}
      ait-ref: ${{ inputs.ait-ref || 'main' }}
      cache-ref: ${{ inputs.cache-ref || 'main' }}
      ingest-metrics-desc: ${{ inputs.ingest-metrics-desc }}
    secrets: inherit

  functional-tests:
    uses: ./.github/workflows/GHA-Functional-Tests.yaml
    with:
      agent-ref: ${{ inputs.agent-ref || github.sha || 'main' }}
    secrets: inherit

  functional-tests-scala:
    uses: ./.github/workflows/GHA-Scala-Functional-Tests.yaml
    with:
      agent-ref: ${{ inputs.agent-ref || github.sha || 'main' }}
    secrets: inherit

  instrumentation-tests:
    uses: ./.github/workflows/Java-Instrumentation-Tests.yml
    with:
      agent-ref: ${{ inputs.agent-ref || github.sha || 'main' }}
    secrets: inherit

  instrumentation-tests-scala:
    uses: ./.github/workflows/GHA-Scala-Instrumentation-Tests.yaml
    with:
      agent-ref: ${{ inputs.agent-ref || github.sha || 'main' }}
    secrets: inherit

  unit-tests:
    uses: ./.github/workflows/GHA-Unit-Tests.yaml
    with:
      agent-ref: ${{ inputs.agent-ref || github.sha || 'main' }}
    secrets: inherit

  verify-unshadowed-jars:
    uses: ./.github/workflows/VerifyUnshadowedJars.yml
    with:
      agent-ref: ${{ inputs.agent-ref || github.sha || 'main' }}
    secrets: inherit

  verify-instrumentation:
    uses: ./.github/workflows/VerifyInstrumentation.yml
    with:
      agent-ref: ${{ inputs.agent-ref || github.sha || 'main' }}
    secrets: inherit
