name: test-action-workflow.yml
on:
  push:
    branches: [ 'mvick/test-action' ]

jobs:
  build:
    permissions:
      contents: read
      actions: read
    runs-on: ubuntu-latest
    steps:
      - name: Run action
        uses: newrelic/agent-metadata-action@v0.0.5
        with:
          agent-type: "java"
          version: "v8.25.0"
