name: test-action-workflow.yml
on:
  push:
    branches: [ 'mvick/test-action' ]

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Run action
        uses: newrelic/agent-metadata-action@v0.0.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          agent-repo: "newrelic/newrelic-java-agent"
