name: Branch Build - Unit Tests

on:
  push:
    branches-ignore:
      - '**WIP**'
      - 'main'

jobs:
  unit-tests:
    uses: newrelic/newrelic-java-agent/.github/workflows/run-gradle-build.yml@main
    with:
      command: ./gradlew --console=plain --parallel clean test -x :functional_test:test -x :newrelic-scala-api:test -x :newrelic-scala-cats-api:test -x :newrelic-scala-zio-api:test -Ptest8 -PnoInstrumentation --continue
