name: Verify Instrumentation (single)
on:
  workflow_dispatch:
    inputs:
      module:
        required: true
        type: string
        description: 'The directory of the module to verify.'
      ref:
        required: true
        default: main
        type: string
        description: 'The ref (branch, SHA, tag?) to run the tests on'

jobs:
  verify-module:
    name: Verify Instrumentation (${{ github.event.inputs.module || inputs.module }})
    runs-on: ubuntu-20.04
    env:
      MODULE: ${{ github.event.inputs.module || inputs.module }}
      AWS_KEY: ${{ secrets.aws-secret-access-key }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Configure AWS Credentials
        if: ${{ env.AWS_KEY != '' }}
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # pin@v4
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: us-east-2

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Build agent
        run: ./gradlew $GRADLE_OPTIONS clean jar

      - name: Running verifyInstrumentation on (${{ env.MODULE }})
        run: ./gradlew $GRADLE_OPTIONS :instrumentation:${{ env.MODULE }}:verifyInstrumentation
