name: Verify Shadowed Jars
on:
  workflow_dispatch:
    inputs:
      agent-ref:
        required: true
        default: main
        type: string
        description: 'The ref (branch, SHA, tag?) to run the verification on'
  workflow_call:
    inputs:
      agent-ref:
        description: 'The ref (branch, SHA, tag?) to run the tests on'
        required: false
        default: 'main'
        type: string

jobs:
  verify-shadowed-jars:
    name: Verify Shadowed Jars
    runs-on: ubuntu-24.04
    env:
      AWS_KEY: ${{ secrets.aws-secret-access-key }}
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # pin@v4
        with:
          ref: ${{ inputs.agent-ref }}

      - name: Configure AWS Credentials
        if: ${{ env.AWS_KEY != '' }}
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # pin@v4
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: us-east-2

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Build agent
        run: ./gradlew $GRADLE_OPTIONS clean jar

      - name: Run script
        env:
          RUNNING_ON_GHA: 'true'
        run: ./automation/verify-unshadowed-jars.sh
