# Reusable workflow to run Verify Instrumentation on modules.
# Only processes a fraction of the modules so the they fit into a GHA matrix (which is limited to 255 jobs).

# This workflow does not use the setup-gradle action on purpose. That action retrieves over 1GB from the cache
# and when many runners do that at the same time, the cache server returns 429s (Too many requests).

name: X - Reusable Verify Instrumentation
on:
  workflow_call:
    inputs:
      page:
        required: true
        type: string
        description: 'The page to process (eg: 1/2 or 5/5)'
      ref:
        required: true
        default: main
        type: string
        description: 'The ref (branch, SHA, tag?) to run the tests on'

jobs:
  # this job reads the directories in newrelic-java-agent/instrumentation and creates a JSON with the list of the modules
  # this list is paginated and will be used in the verify-module job.
  read-modules:
    runs-on: ubuntu-20.04
    outputs:
      modules: ${{ steps.set-modules.outputs.modules }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4
        with:
          ref: ${{ inputs.ref }}

      - id: set-modules
        name: get instrumentation modules as json
        run: |
          cd instrumentation
          tmpfile=$(mktemp /tmp/dirs.XXXXXXXXXX)
          # lists the folders inside instrumentation, and removes the trailing '/'
          ls -d */ | cut -d'/' -f 1 > $tmpfile
          # creates an envar with the requested page of the instrumentation modules in a JSON format
          modules=$((
            echo '{ "modules" : '
            split -n l/${{ inputs.page }} $tmpfile | jq -R -s -c 'split("\n")[:-1]'
            echo " }"
          ) | jq -c .)
          # save the output of the job
          echo "modules=$modules" >> $GITHUB_OUTPUT

  verify-module:
    name: ${{ matrix.modules }}
    runs-on: ubuntu-20.04
    needs: read-modules
    strategy:
      fail-fast: false
      max-parallel: 7
      # GHA's IDE think the line below is broken. It is not.
      matrix: ${{ fromJson(needs.read-modules.outputs.modules) }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Retrieve agent from cache
        id: retrieve-agent
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # pin@v4
        with:
          path: /home/runner/work/newrelic-java-agent/newrelic-java-agent/newrelic-agent/build/newrelicJar/newrelic.jar
          key: agent-jar-${{ github.run_id }}
          fail-on-cache-miss: true

      # Verify instrumentation must run with Java 17
      - name: Running verifyInstrumentation on (${{ matrix.modules }})
        env:
          JAVA_HOME: ${{ env.JAVA_HOME_17_X64 }}
        run: ./gradlew $GRADLE_OPTIONS --info :instrumentation:${{ matrix.modules }}:verifyInstrumentation
